@font-face {
    font-family:'font03a';
    src:url('font03a.eot'); /* IE9 Compat Modes */
    src:url('font03a.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('font03a.woff') format('woff'), /* Modern Browsers */
        url('font03a.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('font03a.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family:'font04a';
    src:url('font04a.eot'); /* IE9 Compat Modes */
    src:url('font04a.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('font04a.woff') format('woff'), /* Modern Browsers */
        url('font04a.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('font04a.svg') format('svg'); /* Legacy iOS */
}

.div3 {
    font-family:'font03a';
}

.div4 {
    font-family:'font04a';
}